<!doctype html>
<html lang="pt-br">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="Wesley Silva, Anderson Melo, and Gabriel Nascimento">
  <title>Entrada de Equipamentos - Field Service</title>

  <link href="../assets/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="../css/modals.css" rel="stylesheet">
  <!-- Custom styles for this template -->
  <link href="../css/form-validation.css" rel="stylesheet">

  <style>
    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;
    }

    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }

    .b-example-divider {
      height: 3rem;
      background-color: rgba(0, 0, 0, .1);
      border: solid rgba(0, 0, 0, .15);
      border-width: 1px 0;
      box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
    }

    .b-example-vr {
      flex-shrink: 0;
      width: 1.5rem;
      height: 100vh;
    }

    .bi {
      vertical-align: -.125em;
      fill: currentColor;
    }

    .nav-scroller {
      position: relative;
      z-index: 2;
      height: 2.75rem;
      overflow-y: hidden;
    }

    .nav-scroller .nav {
      display: flex;
      flex-wrap: nowrap;
      padding-bottom: 1rem;
      margin-top: -1px;
      overflow-x: auto;
      text-align: center;
      white-space: nowrap;
      -webkit-overflow-scrolling: touch;
    }

    .centralize {
      margin-left: 16%;
    }
  </style>
</head>

<body class="bg-light">

  <div class="container">
    <main>
      <div class="py-5 text-center">
        <img class="d-block mx-auto mb-4" src="../static/stf_logo2.png" alt="" width="120">
        <h2>Requisição de Compra - RC</h2>
      </div>

      <div class="centralize">
        <button type="button" class="w-50 btn btn-secondary btn-lg centralize" data-bs-toggle="modal" data-bs-target="#modalSheet">Nova Requisição</button>
        
        <div class="modal modal-sheet py-5 fade" role="dialog" id="modalSheet">
          <div class="modal-dialog" role="document">
            <div class="modal-content rounded-4 shadow">
              <div class="modal-header border-bottom-0">
                <h3 class="modal-title">Formulário para Abertura de RC</h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body py-0">
                <form class="needs-validation" novalidate>
                  <div class="row g-3">
        
                    <!--<div class="col-md-4">
                      <label for="rc" class="form-label">Número RC:</label>
                      <input type="text" class="form-control" id="rc" placeholder="" value="" required>
                      <div class="invalid-feedback">
                        RC inválido. Digite novamente.
                      </div>
                    </div>-->
        
                    <!-- Data default atual mediante a nova requisição
                      <div class="col-sm-4">
                      <label for="data" class="form-label">Data:</label>
                      <input type="date" name="d_Solicitacao" class="form-control" id="dSolicitacao">
                      <div class="invalid-feedback">
                        Informe uma data valida.
                      </div>
                    </div>-->
                    
                    <hr class="my-3">

                    <h5 class="mb-3">Dados da Operação</h5>

                    <div class="col-sm-2">
                      <label for="celula" class="form-label">Célula:</label>
                      <input type="number" class="form-control" id="cel" placeholder="" value="" min="0" required>
                      <div class="invalid-feedback">
                        Informe o Número da célula.
                      </div>
                    </div>

                    <div class="col-md-5">
                      <label for="operacao" class="form-label">Operação:</label>
                      <select class="form-select" id="operacao" required>
                        <option value="none"></option>
                        <option value="BAAS - Mongeral">BAAS - Mongeral</option>
                        <option value="CAIXA Econ.">CAIXA Econ.</option>
                        <option value="Comgás">Comgás</option>
                        <option value="Creditas">Creditas</option>
                        <option value="DLL">DLL</option>
                        <option value="LATAM">LATAM</option>
                        <option value="LATAM Pass">LATAM Pass</option>
                        <option value="Planejamento">Planejamento</option>
                        <option value="Sofisa">Sofisa</option>
                        <option value="Stefanini">Stefanini</option>
                        <option value="Via Varejo">Via Varejo</option>
                      </select>
                      <div class="invalid-feedback">
                        Informe a operação.
                      </div>
                    </div>
                    
                    <div class="col-md-5">
                      <label for="gestor" class="form-label">Gestor:</label>
                      <input type="text" class="form-control" name="gestor" id="gestor" placeholder="" value="" required>
                      <div class="invalid-feedback">
                        Informe o nome do gestor da Operação.
                      </div>
                      <hr class="my-4">
                    </div>

                    <h5 class="mb-3">Dados do Equipamento</h5>

                    <div class="col-md-4">
                      <label for="periferico" class="form-label">Periférico:</label>
                      <select class="form-select" id="periferico" required>
                        <option value=""></option>
                        <option value="Headset">Headset</option>
                        <option value="Mouse">Mouse</option>
                        <option value="Teclado">Teclado</option>
                      </select>
                      <div class="invalid-feedback">
                        Informe o periférico.
                      </div>
                    </div>
        
                    <div class="col-md-4">
                      <label for="marca" class="form-label">Marca:</label>
                      <select class="form-select" id="marca" required>
                        <!--<option value="none"></option>
                        <option value="Dell">Dell</option>
                        <option value="Lenovo">Lenovo</option>
                        <option value="Felitron">Felitron</option>-->
                      </select>
                      <div class="invalid-feedback">
                        Informe a marca do periférico.
                      </div>
                    </div>

                    <div class="col-md-4">
                      <label for="modelo" class="form-label">Modelo</label>
                      <select class="form-select" id="modelo" required>
                        <!--<option value="none"></option>
                        <option value="Dell">Dell</option>
                        <option value="Lenovo">Lenovo</option>
                        <option value="Felitron">Felitron</option>-->
                      </select>
                      <div class="invalid-feedback">
                        Informe a marca do periférico.
                      </div>
                    </div>
        
                    <div class="col-md-2">
                      <label for="qtd" class="form-label">Quantidade:</label>
                      <input type="number" class="form-control" name="qtd" id="qtd" min="0" required>
                      <div class="invalid-feedback">
                        Quantidade inválida.
                      </div>
                    </div>
        
                    <!-- Status default PENDENTE APROVAÇÃO
                      <div class="col-lg-3">
                      <label for="status" class="form-label">Status</label>
                      <input type="text" class="form-control" id="status" placeholder="" value="PENDENTE" required disabled>
                      <div class="invalid-feedback">
                          Informe o Número de Série do equipamento.
                        </div>
                    </div>-->
                  </div>

                  <hr class="my-4">

                  <div class="modal-footer flex-column border-top-0">
                    <button type="button" class="btn btn-lg btn-primary w-100 mx-0 mb-2" id="cadastrar">Cadastrar</button>
                    <button type="button" class="btn btn-lg btn-light w-100 mx-0" data-bs-dismiss="modal">Cancelar</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
  </main>

  <footer class="my-5 pt-5 text-muted text-center text-small">
    <p class="mb-1">&copy; 2022 Stefanini - Field Service</p>
    <!--
        <ul class="list-inline">
          <li class="list-inline-item"><a href="#">Privacy</a></li>
          <li class="list-inline-item"><a href="#">Terms</a></li>
          <li class="list-inline-item"><a href="#">Support</a></li>
        </ul>
        -->
  </footer>
  </div>
  <script src="../assets/dist/js/bootstrap.bundle.min.js"></script>
  <script src="../js/form-validation.js"></script>
  <script src="../js/test-validation.js"></script>
</body>

</html>