{% extends "cadastroEquipamento/html/base.html" %}

{% block title %}{{operacao.operacao}} - Periféricos Orbital{% endblock title %}

{% block main %}

    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
      <div class="container">
        <h1 class="mt-5">Operação:  {{operacao.operacao}}</h1>
        <p class="lead">
            Célula: <strong>{{operacao.celula}}</strong> <br>
            Incidentes: <strong>{{operacao.qtd_solicitacao}}</strong> <br>
        </p>
        <hr>
        
        <div class="h-100 p-5 bg-light border rounded-3">
            <p>{{operacao.observacao}}</p>
        </div>
        <br>
        {% if messages  %}
          {% for message in messages %}
          <div class="alert {{message.tags}}">{{message}}</div>
          {% endfor %}
        {% endif %}
        

        <div class="table-responsive">
          <table class="table table-striped table-bordered table-hover table-condensed">
            <thead>
              <tr>
                <th scope="col">Chamado</th>
                <th scope="col">Data Incidente</th>
                <th scope="col">Informante</th>
                <th scope="col">Site</th>
                <th scope="col">Operação</th>
                <th scope="col">Andar</th>
                <th scope="col">Periférico</th>
                <th scope="col">Motivo</th>
              </tr> 
            </thead>
            <tbody id="data">
              {% comment %} Criando tabela solicitações {% endcomment %}
              {% for row in solicitacoes %}
                <tr>
                  <td><a href="{{ row.get_absolute_url }}"> {{row.chamado}} </a></td>
                  <td>{{row.data_incidentes}}</td>
                  <td>{{row.solicitante}}</td>
                  <td>{{row.site}}</td>
                  <td>{{row.operacao}}</td>
                  <td>{{row.andar}}</td>
                  <td>{{row.periferico}}</td>
                  <td>{{row.motivo}}</td>
                </tr> 
              {% endfor %}
              {% comment %} Fim da tabela {% endcomment %}
            </tbody>
          </table>


          <nav aria-label="Page navigation example">
            {% comment %} Começo da paginação {% endcomment %}
            <ul class="pagination">
              {% if solicitacoes.has_previous %}
              <li class="page-item">
                <a class="page-link" href="{{incidente.operacao.get_absolute_url}}?page={{solicitacoes.previous_page_number}}" aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
                </a>
              </li>
              {% else %}
              <li class="page-item disabled ">
                <a class="page-link" href="#" aria-label="Previous" >
                  <span aria-hidden="true">&laquo;</span>
                </a>
              </li>
              {% endif %}
              

              {% for num in solicitacoes.paginator.page_range %}
                {% if solicitacoes.number == num %}
                  <li class="page-item active"><a class="page-link" href="{{incidente.operacao.get_absolute_url}}?page={{num}}">{{num}}</a></li>
                {% else %}
                  <li class="page-item"><a class="page-link" href="{{incidente.operacao.get_absolute_url}}?page={{num}}">{{num}}</a></li>
                {% endif %}
              {% endfor %}
              
              
              {% if solicitacoes.has_next %}
              <li class="page-item">
                <a class="page-link" href="{{incidente.operacao.get_absolute_url}}?page={{solicitacoes.next_page_number}}" aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                </a>
              </li>
              {% else %}
              <li class="page-item disabled">
                <a class="page-link" href="#" aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                </a>
              </li>
              {% endif %}
            </ul>
            {% comment %} Fim da paginação {% endcomment %}
          </nav>
        </div>



        <div id="container_btns">
          <button type='button' class='btn btn-secondary btn-lg my-3' data-bs-toggle="modal" data-bs-target="#modalSheet"> <a class="tirar_decoration" href="#">Editar</a></button>
        </div>
    </main>



    <div class="modal modal-sheet py-5 fade" role="dialog" id="modalSheet">
            <div class="modal-dialog" role="document">
              <div class="modal-content rounded-4 shadow">
                <div class="modal-header border-bottom-0">
                  <h3 class="modal-title">Editar operação</h3>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body py-0">
                  <form method="post" class="needs-validation" novalidate>{% csrf_token %}
                    <div class="g-1">
                      <hr class="my-3">
                      <div class="operacao_celula">  
                        <div class="col-lg-5">
                          <label for="operacao" class="form-label">Nome da Operação:</label>
                          <input type="text" name="operacao" class="form-control" id="operacao" value="{{ operacao.operacao }}" required>
                          <div class="invalid-feedback">
                            Informe o nome da Operação.
                          </div>
                        </div>
                        <div class="col-sm-5">
                          <label for="celula" class="form-label">Célula:</label>
                          <input type="number" name="celula" class="form-control" id="celula" placeholder="" value="{{ operacao.celula }}" min="0" max="1000" required>
                          <div class="invalid-feedback">
                            Informe uma célula valida.
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-11 my-4"  style="margin: 0 auto;">
                        <label for="obs" class="form-label">Observações:</label>
                        <textarea name="obs" class="form-control" id="obs" rows="5" value="">{{ operacao.observacao }}</textarea>
                      </div> 
                    </div>
                    <hr class="my-4">
                    <div class="modal-footer flex-column border-top-0">
                      <button type="submit" class="btn btn-lg btn-primary w-100 mx-0 mb-2">Salvar alterações</button>
                      <button type="button" class="btn btn-lg btn-light w-100 mx-0" data-bs-dismiss="modal">Cancelar</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
  </div>
</div>

{% endblock main %}